<% content_for :page_title do %>
Datasets
<% end %>

<div class="">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"></h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the datasets you are offering in your storefront.</p>
    </div>

  </div>
  <div class="mt-8 flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          
        </div>
      </div>
    </div>
  </div>
</div>
